:root {
  --cell-size: 4rem;
  --game-padding: 0rem;
  --border-width: 0.1rem;
  --cells-in-row: 8;
  --piece-size: 80%;

  --font-size: 2.2rem;

  --selected-color: rgb(209, 233, 76);
  --possible-move-color: yellow;
  --possible-jump-color: rgb(75, 207, 75);
  --piece-can-jump-color: rgb(13, 60, 214);
  --red-piece-color: red;
  --red-box-shadow-piece-color: rgb(255, 70, 70);
  --black-piece-color: rgb(45, 45, 45);
  --black-box-shadow-piece-color: rgb(80, 80, 80);
  --king-background-color: rgb(180, 180, 180);

  --game-max-width: calc(
    var(--cells-in-row) * (var(--cell-size)) + calc(20 * (var(--border-width)))
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10rem auto 10rem;
  grid-template-areas:
    "header"
    "table"
    "footer";
}

.languageButton,
.rulesButton {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 5%;
  margin-top: 0.5rem;
  background-image: url(../assets/language.png);
  background-size: 100% 100%;
  background-position: center;
  width: calc(var(--font-size) * 1.7);
  height: calc(var(--font-size) * 1.7);
  z-index: 5;
}

.rulesButton {
  right: 5%;
  background: rgba(255, 255, 255, 1) url(../assets/info-circle-solid.svg);
  border-radius: 100%;
}

.table {
  grid-area: table;
  display: flex;
  perspective: 2000px;
  perspective-origin: center;
  background-image: url(../assets/table.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.fas,
.far {
  font-size: var(--font-size);
}

.fa-flag {
  cursor: pointer;
  background: white;
}

.player1__fas {
  color: var(--red-piece-color);
}

.player1__fas--hidden {
  visibility: hidden;
}

.player2__fas--hidden {
  visibility: hidden;
}

.player1,
.player2 {
  grid-area: header;
  display: flex;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: blanchedalmond;
  text-align: center;
}

.player2 {
  grid-area: footer;
}

.player1__name,
.player2__name {
  margin: 0 2rem 0 0.5rem;
  font-weight: 550;
  padding: 0.3rem 0.3rem;
  font-size: var(--font-size);
}

.player1__name {
  color: var(--red-piece-color);
}

.player1__timer,
.player2__timer {
  background-color: white;
  border: 0.3rem solid #000;
  margin: 0 2rem;
  align-items: flex-end;
  padding: 0.3rem 1.8rem;
  font-size: var(--font-size);
}

.board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  transform: rotateX(30deg);
  margin: auto;
  width: var(--game-max-width);
  border: 1rem solid transparent;
  border-image: url(../assets/border.jpg) 5% round;
  box-shadow: 0px 0px 0px 0.2rem rgb(50, 50, 50);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: var(--border-width) solid var(--black-box-shadow-piece-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.brown {
  background: url(../assets/brown.jpg) center no-repeat;
  background-size: 120%;
}

.white {
  background: url(../assets/white.jpg) center no-repeat;
  background-size: 200%;
}

.piece {
  width: var(--piece-size);
  height: var(--piece-size);
  border: var(--border-width) solid var(--black-box-shadow-piece-color);
  border-radius: 100%;
  z-index: 2;
  cursor: pointer;
}

.red {
  background-color: var(--red-piece-color);
  box-shadow: 0px 0px 0px 0.5rem rgb(255, 70, 70) inset;
}

.black {
  background-color: var(--black-piece-color);
  box-shadow: 0px 0px 0px 0.5rem var(--black-box-shadow-piece-color) inset;
}

.redKing {
  background-color: var(--king-background-color);
  box-shadow: 0px 0px 0px 0.65rem var(--red-piece-color) inset;
}

.blackKing {
  background-color: var(--king-background-color);
  box-shadow: 0px 0px 0px 0.65rem var(--black-piece-color) inset;
}

.selected {
  background-color: var(--selected-color);
}

.possibleMove {
  background: var(--possible-move-color);
  cursor: pointer;
}

.possibleJump {
  background: var(--possible-jump-color);
  cursor: pointer;
}

.canJump {
  background-color: var(--piece-can-jump-color);
  box-shadow: 0px 0px 0px 0.5rem var(--piece-can-jump-color) inset;
}

.starter__modal,
.endgame__modal,
.mustCapture__modal,
.board__modal,
.rules__modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.board__modal {
  background-color: rgba(0, 0, 0, 0.1);
}

.starter__modal__content,
.endgame__modal__content,
.mustCapture__modal__content,
.rules__modal__content {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.starter__modal__text,
.endgame__modal__text,
.rules__modal__text {
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
}

.rules__modal__rule {
  list-style: none;
  width: 100%;
  text-align: justify;
  padding: 0 0.6rem;
  text-transform: uppercase;
  font-size: 0.72rem;
}

.mustCapture__modal__text {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.starter__modal__form__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.starter__modal__input__player1,
.starter__modal__input__player2 {
  border: 0.3rem solid #000;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  outline: none;
  text-transform: uppercase;
}

.starter__modal__button,
.mustCapture__modal__button,
.endgame__modal__button,
.rules__modal__button {
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: 0.3rem solid #000;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  outline: none;
  transition: background-color 0.1s ease-in, color 0.1s ease-in,
    border-color 0.1s ease-in;
}

.starter__modal__button:hover,
.mustCapture__modal__button:hover,
.endgame__modal__button:hover,
.rules__modal__button:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.endgame__modal--hidden,
.mustCapture__modal--hidden,
.starter__modal--hidden,
.board__modal--hidden,
.rules__modal--hidden {
  visibility: hidden;
}

@media only screen and (min-width: 320px) {
  main {
    grid-template-rows: 8.5% auto 8.5%;
  }
  :root {
    --cell-size: 1.8em;
    --font-size: 0.8rem;
  }

  .table {
    padding: 0.1rem 1rem 0.1rem 1rem;
  }

  .player1__timer,
  .player2__timer {
    border: 0.15rem solid #000;
    padding: 0.1rem 1.3rem;
  }

  .red {
    box-shadow: 0px 0px 0px 0.25rem var(--red-box-shadow-piece-color) inset;
  }

  .black {
    box-shadow: 0px 0px 0px 0.25rem var(--black-box-shadow-piece-color) inset;
  }

  .redKing {
    box-shadow: 0px 0px 0px 0.25rem var(--red-piece-color) inset;
  }

  .blackKing {
    box-shadow: 0px 0px 0px 0.25rem var(--black-piece-color) inset;
  }

  .starter__modal__content,
  .mustCapture__modal__content,
  .endgame__modal__content,
  .rules__modal__content {
    width: 100vw;
    height: 100vh;
  }

  .starter__modal__text,
  .endgame__modal__text {
    font-size: 3.5rem;
  }

  .rules__modal__text {
    font-size: 2rem;
  }
  .mustCapture__modal__text {
    font-size: 1.8rem;
  }

  .starter__modal__input__player1,
  .starter__modal__input__player2 {
    font-size: 1.3rem;
  }

  .starter__modal__button,
  .mustCapture__modal__button,
  .endgame__modal__button {
    font-size: 1.8rem;
  }

  .rules__modal__button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .languageButton,
  .rulesButton {
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
    left: 2.5%;
  }

  .languageButton {
    left: auto;
    right: 2.5%;
  }
}

@media only screen and (min-width: 360px) {
  .languageButton,
  .rulesButton {
    width: calc(var(--font-size) * 3.3);
    height: calc(var(--font-size) * 3.3);
  }

  .endgame__modal__button {
    margin-bottom: 0.6rem;
  }
}

@media only screen and (min-width: 481px) {
  :root {
    --cell-size: 1.8em;
    --font-size: 0.8rem;
  }

  .starter__modal__content,
  .mustCapture__modal__content,
  .endgame__modal__content,
  .rules__modal__content {
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (min-width: 560px) {
  .endgame__modal__button {
    margin-bottom: 0;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
}

@media only screen and (min-width: 641px) {
  :root {
    --cell-size: 1.3em;
    --font-size: 0.9rem;
  }

  .starter__modal__text,
  .endgame__modal__text,
  .rules__modal__text {
    font-size: 3.5rem;
  }

  .starter__modal__input__player1,
  .starter__modal__input__player2 {
    font-size: 1.2rem;
  }

  .starter__modal__button,
  .mustCapture__modal__button,
  .endgame__modal__button,
  .rules__modal__button {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 736px) {
  .starter__modal__content,
  .mustCapture__modal__content,
  .endgame__modal__content,
  .rules__modal__content {
    width: 100vw;
    height: 80vh;
  }

  :root {
    --cell-size: 1.8em;
    --font-size: 1rem;
  }

  .starter__modal__text,
  .endgame__modal__text {
    font-size: 3.5rem;
  }

  .rules__modal__text {
    font-size: 2.5rem;
  }

  .starter__modal__input__player1,
  .starter__modal__input__player2 {
    font-size: 1.7rem;
  }

  .starter__modal__button,
  .mustCapture__modal__button,
  .endgame__modal__button,
  .rules__modal__button {
    font-size: 2rem;
  }

  .languageButton,
  .rulesButton {
    width: calc(var(--font-size) * 3);
    height: calc(var(--font-size) * 3);
    right: 5%;
  }

  .languageButton {
    left: auto;
    right: 5%;
  }

  .rules__modal__button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width: 801px) {
  :root {
    --cell-size: 1.8rem;
    --font-size: 1rem;
  }

  .table {
    padding: 0rem 1.5rem;
  }

  .player1__timer,
  .player2__timer {
    border: 0.15rem solid #000;
  }

  .red {
    box-shadow: 0px 0px 0px 0.3rem var(--red-box-shadow-piece-color) inset;
  }
  rgb .black {
    box-shadow: 0px 0px 0px 0.3rem var(--black-box-shadow-piece-color) inset;
  }

  .redKing {
    box-shadow: 0px 0px 0px 0.3rem var(--red-piece-color) inset;
  }

  .blackKing {
    box-shadow: 0px 0px 0px 0.3rem var(--black-piece-color) inset;
  }

  .rules__modal__text {
    font-size: 3.5rem;
  }
  .rules__modal__rule {
    font-size: 1.4rem;
  }

  .rules__modal__button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 961px) {
  :root {
    --cell-size: 4em;
    --font-size: 2rem;
  }
  .player1__timer,
  .player2__timer {
    border: 0.2rem solid #000;
    padding: 0.2rem 1.3rem;
  }

  .mustCapture__modal__text {
    font-size: 3rem;
  }

  .red {
    box-shadow: 0px 0px 0px 0.6rem var(--red-box-shadow-piece-color) inset;
  }

  .black {
    box-shadow: 0px 0px 0px 0.6rem var(--black-box-shadow-piece-color) inset;
  }

  .redKing {
    box-shadow: 0px 0px 0px 0.6rem var(--red-piece-color) inset;
  }

  .blackKing {
    box-shadow: 0px 0px 0px 0.6rem var(--black-piece-color) inset;
  }

  .languageButton,
  .rulesButton {
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
  }
}

@media only screen and (min-width: 1281px) {
  .starter__modal__content,
  .mustCapture__modal__content,
  .endgame__modal__content,
  .rules__modal__content {
    width: 70vw;
    height: 70vh;
  }
  :root {
    --cell-size: 4em;
    --font-size: 2rem;
  }

  .mustCapture__modal__text {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .starter__modal__content,
  .mustCapture__modal__content,
  .endgame__modal__content,
  .rules__modal__content {
    width: 70vw;
    height: 70vh;
  }
  :root {
    --cell-size: 5.5em;
    --font-size: 2.5rem;
  }

  .red {
    box-shadow: 0px 0px 0px 0.85rem var(--red-box-shadow-piece-color) inset;
  }

  .black {
    box-shadow: 0px 0px 0px 0.85rem var(--black-box-shadow-piece-color) inset;
  }

  .redKing {
    box-shadow: 0px 0px 0px 0.85rem var(--red-piece-color) inset;
  }

  .blackKing {
    box-shadow: 0px 0px 0px 0.85rem var(--black-piece-color) inset;
  }

  .rules__modal__rule {
    font-size: 1.3rem;
  }
}
